/***** BEGIN sortable css ***/

/* Hide arrows on non-selected headers */
[sortable] .down-arrow,
[sortable] .up-arrow {
    display:none;
}

/* Show arrows selected */
.sort_asc .up-arrow { display: block; }
.sort_desc .down-arrow { display: block; }

.up-arrow {
    /*adding css pointers adapted from http://www.yuiblog.com/blog/2010/11/22/css-quick-tip-css-arrows-and-shapes-without-markup/ */
    /*add a blank space and use a thick border deleting the 3 other borders to create this effect*/
    border: 5px solid transparent; /*the size of the pointer*/
    border-bottom-color: #080D81; /*the color of the active item and only the top of the border is shown*/
    content: ' ';
    height: 0;
    width: 0;

    /*position the arrow in relation to the parent which is required to have relative positioning*/
    position: absolute;
    top: 16%;
    right: 3px;
    margin-right: 0;
}

.down-arrow {
    /*adding css pointers adapted from http://www.yuiblog.com/blog/2010/11/22/css-quick-tip-css-arrows-and-shapes-without-markup/ */
    /*add a blank space and use a thick border deleting the 3 other borders to create this effect*/
    border: 5px solid transparent; /*the size of the pointer*/
    border-top-color: #080D81; /*the color of the active item and only the top of the border is shown*/
    content: ' ';
    height: 0;
    width: 0;

    /*position the arrow in relation to the parent which is required to have relative positioning*/
    position: absolute;
    top: 40%;
    right: 3px;
    margin-right: 0;
}

.sort_selected {
    color: #080D81;
}

/***** END sortable css ***/